<div id="nav"><div class="wrap_pines">
	<div id="logo" class="float_left">
		<a href="<%= url_for '/' %>"><img src="/images/logo3.png" alt="" /></a>
	</div>

	<div id="menu" class="float_left">
		<ul>
			<li><a href="<%= root_url %>" <% if params[:controller] == 'home' %>class="selected"<% end %>>首页</a></li>
			<li><a href="<%= study_url %>" <% if params[:controller] == 'study' %>class="selected"<% end %>>在线学习</a></li>
			<li><a href="<%= download_url %>" <% if params[:controller] == 'download' %>class="selected"<% end %>>工具下载</a></li>
			<li><a href="#" <% if !%w[home root study download].include?(params[:controller]) %>class="selected"<% end %>>互动讨论</a></li>
			<li><a target="_blank" href="http://www.pinewong.com/">作者笔记</a></li>
		</ul>
	</div>

	<% if user_signed_in? %>
	<span class="current-user">
		<%= current_user.email %>
		<a href="<%= destroy_user_session_path %>">注销</a>
	</span>

	<% else %>
	<div id="nav-login" class="float_right">
		<a href="<%= new_user_registration_path %>" class="signup">注册</a>
		<a href="<%= new_user_session_path %>" class="login">登录</a>
	</div>
	<% end %>
</div></div>
