<div class="topics-title"><h2 class="authorname">作者信息</h2></div>
<div id="topics-author">
	<span class="header"><%= gravatar_for @topic.user %></span>
	<span class="name"><%= @topic.user.username %></span>

	<div class="email">邮箱：<%= @topic.user.email %></div>
	<div class="score">积分：<%= @topic.user.score.nil? ? '0' : @topic.user.score %></div>
	<div class="sign">签名：<%= @topic.user.sign %></div>
</div>
