<div class="cell">
	<!-- 头像 -->
	<span class="pine-left pic item">
		<%= gravatar_for topic.user %>
	</span>
	<!-- 统计 -->
	<span class="count pine-left item"><%= topic.reply_count %> / <%= topic.view_count %></span>

	<span class="pine-left labelspan item">
		<% if essence?(topic) %>
		<!-- 是否精华 -->
		<span class="pine-left essence label">精华</span>
		<% end %>

		<!-- 类别 -->
		<span class="label pine-left category"><%= topic.category %></span>
	</span>

	<!-- 标题 -->
	<span class="pine-left title item"><%= link_to topic.title, topic_path(topic) %></span>
	<!-- 时间 -->
	<span class="pine-right time item"><%= topic.created_at.strftime('%Y-%m-%d') %></span>
	<!-- 回复 -->
	<span class="pine-right reply replypic item">
		<a href="">
			<%= gravatar_for topic.comments.last.nil? ? nil : topic.comments.last.user %>
		</a>
	</span>
</div>
