<% provide :title, '话题讨论' %>

<div id="topics"><div class="pine-wrap">
	<!-- 左侧 -->
	<div class="main pine-left topics-part" style="margin-top: 0">
		<!-- 栏目 -->
		<div class="topics-title">
			<%= link_to '最新', topics_path, class: selected_by_action('index', 'title-a') %>
			<%= link_to '精华', essence_topic_path, class: selected_by_action('essence', 'title-a') %>
			<%= link_to '问答', ask_topic_path, class: selected_by_action('ask', 'title-a') %>
			<%= link_to '分享', share_topic_path, class: selected_by_action('share', 'title-a') %>
			<%= link_to '瞎扯淡', other_topic_path, class: selected_by_action('other', 'title-a') %>
		</div>

		<!-- 话题内容 -->
		<div id="topics_content">
			

			<!-- 局部视图展示话题 -->
			<%= render @topics %>
			<% if params[:action] != 'user_reply' %>
			<%= will_paginate %>
			<% end %>

			<!-- 自定义页码
			<div id="pagination">
				<a class="item">«</a>
				<a class="item">1</a>
				<a class="item">2</a>
				<a class="item">3</a>
				<a class="item">4</a>
				<a class="item">5</a>
				<a class="item">...</a>
				<a class="item">»</a>
			</div> -->
		</div>
	</div>

	<!-- 右侧 -->
	<div id="topics-banner" class="banner pine-right">

		<% if logged_in? %>
		<!-- 用户信息 -->
		<div class="part">
			<%= render 'user' %>
		</div>
		<% end %>

		<!-- 发布话题 -->
		<div class="part">
			<%= render 'pubbanner' %>
		</div>

		<% if !@users_score.nil? %>
		<!-- 用户积分排行 -->
		<div class="part">
			<%= render 'score' %>
		</div>
		<% end %>

		<% if !@topics_hot.nil? %>
		<!-- 热门话题 -->
		<div class="part">
			<%= render 'hot' %>
		</div>
		<% end %>
	</div>
</div></div>
