<div id="signup" class="oauth">
  <h1 class="oauth-title">加入Web学习网，为技能加分</h1>
  
  <!-- 注册表单 -->
  <%= form_for @user do |f| %>
    <div class="oauth-field">
      <%= f.text_field :username, autofocus: true, placeholder: '账户名（3-12位，区分大小写，不能用空格）' %>
    </div>

    <div class="oauth-field">
      <%= f.password_field :password, autocomplete: "off", placeholder: '账户密码（6-12位，区分大小写，不能用空格）' %>
    </div>

    <div class="oauth-field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '确认账户密码' %>
    </div>

    <div class="oauth-field">
      <%= f.email_field :email, autofocus: true, placeholder: '注册邮箱（重置密码）' %>
    </div>

    <div class="oauth-field">
      <%= f.text_field :sign, autofocus: true, placeholder: '个性签名（50字以内）' %>
    </div>

    <div class="oauth-actions">
      <%= f.submit "注册" %>
    </div>
  <% end %>

  <p class="oauth-link"><%= link_to "已有账号？直接登录", login_path %></p> 
</div>

