<div id="user_show"><div class="pine-container">
  <!-- 左侧信息 -->
  <div class="pine-left">
    <!-- 头像，话题 -->
    <div class="topics user-edit-cell">
      <div class="header"><%= gravatar_for @user %></div> 
      <!-- 当前信息用户登录 -->
      <% if (logged_in? && current_user?(@user)) %>
      <p><%= link_to '我发布的话题', user_pub_topic_path, class: 'topic-link' %></p>
      <p><%= link_to '我参与的话题', user_reply_topic_path, class: 'topic-link' %></p>
      
      <!-- 非当前信息用户 -->
      <% else %>
      <p><%= link_to 'Ta发布的话题', user_pub_topic_path, class: 'topic-link' %></p>
      <p><%= link_to 'Ta参与的话题', user_reply_topic_path, class: 'topic-link' %></p>
      <% end %>
    </div>

    <!-- 第三方账号 -->
    <div class="add-oauth user-edit-cell">
      <h2 class="title">用户关联账号</h2>
      <p class="oauth-item">GitHub：<a style="cursor: default">@GitHub</a></p>
      <p class="oauth-item">微信：<a style="cursor: default">@WeiChat</a></p>
    </div>
  </div>

  <!-- 右侧表单 -->
  <div class="pine-right">
    <!-- 资料设置 -->
    <div class="info user-edit-cell">
      <h2 class="title">个人资料
        <!-- 当前信息用户登录 -->
        <% if (logged_in? && current_user?(@user)) %>
        <%= link_to '设置', edit_user_path, class: 'setting' %>
        <% end %>
      </h2>
        <div class="field">
          <%= label_tag :username, '账户名（登陆、网站显示，6-12位）' %>
          <%= text_field_tag :username, @user.username, disabled: 'false' %>
        </div>
     
        <div class="field">
          <%= label_tag :email, '账户邮箱（重置密码）' %>
          <%= email_field_tag :email, @user.email, disabled: 'false' %>
        </div>
     
        <div class="field">
          <%= label_tag :sign, '签名（个人信息展示）' %>
          <%= text_field_tag :sign, @user.sign, disabled: 'false' %>
        </div>

        <div class="field">
          <%= label_tag :score, '用户积分' %>
          <%= text_field_tag :score, @user.score, disabled: 'false' %>
        </div>
    </div>
  </div>
</div></div>

