<div id="body">
	<!-- 轮播图 -->
	<%= render 'banner' %>

	<!-- 技能大纲 -->
	<%= render 'outline' %>

	<!-- 项目演示 -->
	<%= render 'project' %>

	<!-- 名博推荐 -->
	<%= render 'blogger' %>

	<!-- 关于 -->
	<%= render 'about' %>
</div>