<div id="oauth" class="pine-center">
	<h1 class="title">
		<a>登录</a>
		<a>注册</a>
	</h1>

	<form action="" id="oauth-login">
		<p><input type="email" name="email" id="" placeholder="请输入登录邮箱" /></p>
		<p><input type="password" name="password" id="" placeholder="请输入账户密码，6-12位，区分大小写，不能用空格" /></p>
	</form>
	
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="field">
	      <%= f.check_box :remember_me %>
	      <%= f.label :remember_me %>
	    </div>
	  <% end -%>

	  <div class="actions">
	    <%= f.submit "Log in" %>
	  </div>
	<% end %>

	<form action="" id="oauth-signup" style="display: none;">
		<input type="email" name="email" id="" placeholder="请输入注册邮箱" />	
		<input type="password" name="password" id="" placeholder="请输入注册账户密码，6-12位，区分大小写，不能用空格" />	
	</form>

	<div id="oauth-other">
		<span>快速登录</span>
		<span>
			<a>GitHub</a>
			<a>微信</a>
			<a>QQ</a>
		</span>
	</div>
</div>