<!DOCTYPE html>
<html>
<head>
	<title><%= title yield(:title) %></title>

	<%= render '/shared/headMeta' %>

	<meta property="qc:admins" content="05007507776752006654" />	<!-- QQ Open -->
	<link rel="icon" href="/images/icon_32x32.ico" sizes="32x32" />
	<link rel="icon" href="" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed" href="" sizes="180x180" />
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render '/shared/backTop' %>
	<%= render '/shared/nav' %>
	<%= render '/shared/flash' %>
	<%= yield %>
	<%= render '/shared/copyright' %>
	<%= render '/shared/debug' %>
	<%= render '/shared/flashAlert' %>
	
	<%= javascript_include_tag 'base', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
</body>
</html>
